.pokemon {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.pokemon h1 {
    font-size: 20px;
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
}

.pokemon .id {
    font-size: 14px;
    font-family: 'Arial';
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #eee;
    padding: 5px 8px;
}

.hideId {
    display: none;
}